In [1]:
%matplotlib inline

In [2]:
import os
os.chdir("/Users/evanbiederstedt/downloads")

In [3]:
import tables

In [4]:
from ipython_memwatcher import MemWatcher
mw = MemWatcher()
mw.start_watching_memory()

In [4] used 0.008 MiB RAM in 0.001s, peaked 0.000 MiB above current, total RAM usage 65.789 MiB

In [5]:
#
# (1) How to import data
# (2) How to do indexing
#
#

In [5] used 0.020 MiB RAM in 0.002s, peaked 0.000 MiB above current, total RAM usage 65.809 MiB

In [6]:
import pandas as pd

In [6] used 16.207 MiB RAM in 0.373s, peaked 0.000 MiB above current, total RAM usage 82.016 MiB

In [7]:
fname = 'wgEncodeUwRepliSeqBjS4AlnRep2.dat'

In [7] used 0.035 MiB RAM in 0.001s, peaked 0.000 MiB above current, total RAM usage 82.051 MiB

In [8]:
df = pd.read_table(fname, names= ['QNAME', 'FLAG', 'RNAME', 'POS', 'MAPQ', 'CIGAR', 
                                  'RNEXT', 'PNEXT', 'TLEN', 'SEQ', 'QUAL', 'COL12', 'COL13', 'COL14'], header=None)

In [8] used 1511.367 MiB RAM in 16.274s, peaked 7.488 MiB above current, total RAM usage 1593.418 MiB

In [9]:
df.shape

(3254334, 14)

In [9] used -0.020 MiB RAM in 0.005s, peaked 0.000 MiB above current, total RAM usage 1593.398 MiB

In [10]:
df.columns

Index(['QNAME', 'FLAG', 'RNAME', 'POS', 'MAPQ', 'CIGAR', 'RNEXT', 'PNEXT',
       'TLEN', 'SEQ', 'QUAL', 'COL12', 'COL13', 'COL14'],
      dtype='object')

In [10] used 0.031 MiB RAM in 0.011s, peaked 0.000 MiB above current, total RAM usage 1593.430 MiB

In [11]:
df.head()

,QNAME,FLAG,RNAME,POS,MAPQ,CIGAR,RNEXT,PNEXT,TLEN,SEQ,QUAL,COL12,COL13,COL14
0,SOLEXA-1GA-2:7:97:424:674#0,16,chr1,10149,25,36M,*,0,0,CCTAACCCTAACACCAACCCAAACCCTAACCTAACC,ZOO_]XVQX`b_^Y`ba`[abb`a^b`b_aa`a_aa,NM:i:1,X1:i:1,MD:Z:15A5C1A12
1,SOLEXA-1GA-2:7:11:176:1183#0,16,chr1,10150,25,36M,*,0,0,CTAACCCTACCCCTAACCATACCCCTAACCTAACCC,[M_^b`a``baba_b``ab_\_bab`b_aaab_aba,NM:i:1,X1:i:1,MD:Z:14C2A8C9
2,SOLEXA-1GA-2:7:76:985:1036#0,0,chr1,10152,25,36M,*,0,0,AACCCTAACCCCCACCCTAACCCTGACCTAACCCTA,LTZXRaWZZa_YG^aT_TK]WaQHDJRZFWHZ\aX^,NM:i:1,X1:i:1,MD:Z:11C0C11G11
3,SOLEXA-1GA-2:7:61:1053:1918#0,16,chr1,10159,25,36M,*,0,0,ACCCTAACCCTAACCCTAACCTAACCCTAACCCTAA,`ZZ^^b^\]Z[b^`R]_b]_Z]b]aaa_a_aaa_ba,NM:i:0,X0:i:1,MD:Z:36
4,SOLEXA-1GA-2:7:3:963:1025#0,0,chr1,10244,25,36M,*,0,0,CCCTAAACCCTAAACCCTAACCCTAACCCTAACCCT,aba`bba_bUbbb][U^bba[_aaab`aTZ``]aXH,NM:i:0,X0:i:1,MD:Z:36

In [11] used 0.191 MiB RAM in 0.047s, peaked 0.000 MiB above current, total RAM usage 1593.621 MiB

In [12]:
from tables import *

In [12] used 0.023 MiB RAM in 0.001s, peaked 0.000 MiB above current, total RAM usage 1593.645 MiB

In [13]:
import pandas as pd

In [13] used 0.020 MiB RAM in 0.001s, peaked 0.000 MiB above current, total RAM usage 1593.664 MiB

In [14]:
store = pd.HDFStore('storetest1.h5')  # creates new file

In [14] used 1.062 MiB RAM in 0.015s, peaked 0.000 MiB above current, total RAM usage 1594.727 MiB

In [15]:
print(store)

<class 'pandas.io.pytables.HDFStore'>
File path: storetest1.h5
/key_name             frame_table  (typ->appendable,nrows->13017336,ncols->14,indexers->[index],dc->[FLAG,RNAME])
/key_name2            frame_table  (typ->appendable,nrows->10032912,ncols->14,indexers->[index],dc->[FLAG,MAPQ])
In [15] used 1.156 MiB RAM in 0.063s, peaked 0.000 MiB above current, total RAM usage 1595.883 MiB

In [16]:
# indexed just a subset of columns

store.append('key_name', df, data_columns=['FLAG','RNAME'])

In [16] used -28.359 MiB RAM in 41.859s, peaked 2783.605 MiB above current, total RAM usage 1567.523 MiB

In [17]:
store

<class 'pandas.io.pytables.HDFStore'>
File path: storetest1.h5
/key_name             frame_table  (typ->appendable,nrows->16271670,ncols->14,indexers->[index],dc->[FLAG,RNAME])
/key_name2            frame_table  (typ->appendable,nrows->10032912,ncols->14,indexers->[index],dc->[FLAG,MAPQ])

In [17] used -0.070 MiB RAM in 0.011s, peaked 0.000 MiB above current, total RAM usage 1567.453 MiB

In [18]:
# result = [rec for rec in store.where('RNAME==chr1 & FLAG==0')]

In [18] used 0.016 MiB RAM in 0.001s, peaked 0.000 MiB above current, total RAM usage 1567.469 MiB

In [19]:
df = store.select('key_name', where='RNAME==chr1 & FLAG==0')

In [19] used 613.988 MiB RAM in 9.119s, peaked 112.750 MiB above current, total RAM usage 2181.457 MiB

In [20]:
df.shape

(587720, 14)

In [20] used 0.004 MiB RAM in 0.003s, peaked 0.000 MiB above current, total RAM usage 2181.461 MiB

In [21]:
df = store.select('key_name', where='RNAME==chr2 & FLAG==0')

In [21] used 652.996 MiB RAM in 12.490s, peaked 120.457 MiB above current, total RAM usage 2834.457 MiB

In [22]:
df.shape

(674775, 14)

In [22] used -0.043 MiB RAM in 0.004s, peaked 0.000 MiB above current, total RAM usage 2834.414 MiB

In [23]:
pdf1 = pd.read_table(fname, names= ['QNAME', 'FLAG', 'RNAME', 'POS', 'MAPQ', 'CIGAR', 
                                  'RNEXT', 'PNEXT', 'TLEN', 'SEQ', 'QUAL', 'COL12', 'COL13', 'COL14'], header=None)

In [23] used 1433.910 MiB RAM in 17.452s, peaked 7.488 MiB above current, total RAM usage 4268.324 MiB

In [24]:
store.append('key_name2', pdf1, data_columns=['FLAG','MAPQ'])   # MAPQ index

In [24] used -60.824 MiB RAM in 37.410s, peaked 3133.312 MiB above current, total RAM usage 4207.500 MiB

In [25]:
df2 = store.select('key_name2', where='MAPQ<25 & FLAG==0')

In [25] used 2.168 MiB RAM in 0.482s, peaked 0.000 MiB above current, total RAM usage 4209.668 MiB

In [26]:
df2.shape

(4, 14)

In [26] used 0.016 MiB RAM in 0.004s, peaked 0.000 MiB above current, total RAM usage 4209.684 MiB

In [27]:
df3 = store.select('key_name2', where='MAPQ==25 & FLAG==0') # HUGE QUERY!!!

KeyboardInterrupt:

In [27] used 2243.570 MiB RAM in 53.617s, peaked 0.000 MiB above current, total RAM usage 6453.254 MiB

In [ ]:
df3.shape

In [ ]:
df = pd.read_table(fname, names= ['QNAME', 'FLAG', 'RNAME', 'POS', 'MAPQ', 'CIGAR', 
                                  'RNEXT', 'PNEXT', 'TLEN', 'SEQ', 'QUAL', 'COL12', 'COL13', 'COL14'], header=None)

In [ ]:
store.append('key_name', df, data_columns=['QNAME'])